{{#foreach navigation}}
<a href="{{url absolute="true"}}"
    class="text-base leading-6 font-medium text-gray-900 hover:underline focus:outline-none focus:text-gray-900 transition ease-in-out duration-150">
    {{label}}
</a>
{{/foreach}}